page-login {
    ion-content {
        background: $app-background;
    }
    
    .fixed-content, .scroll-content{
		margin-top: 0 !important;
		padding: 0;
	}

	.list > .item-ios, .item-md{ border: none !important;background-color: transparent;}

	ion-input {
        height: 35px;
        border: 1px solid white;
        color: white;
        //font-weight: bold;
        font-weight: normal;
        background-color: rgba(255,255,255, 0.3);
        margin-bottom: 0;
        padding: 0px 8px 5px 8px;
        margin:0 !important;
        border-radius: 25px;
    }
    .list-md .item-block .item-inner, .list-ios .item-block .item-inner {
	    border-bottom: none;
	}

    .text-input-ios {margin: 7px 8px 11px 0;}

	.text-input-md {margin: 8px 5px;}

	::-webkit-input-placeholder {
	    color: rgba(255,255,255, 0.6) !important;
	    font-weight: normal;
	}

	input:focus .vAlign{
		height: auto;
	}

	.logo{
		height: 100px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 20vw;
	}

	.item-ios.item-block .item-inner, .item-md.item-block .item-inner {
      	padding-right: 0px;
	  }
	  .item-ios, .item-md {
	    padding: 0;
      }
      
      .title-todo{
        color: white;
        font-size: 50px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }
}
